@import url("../theme/master.css");

.mtdBold {
    font-family : Verdana,Arial;
    border-right: solid 1px silver;
    padding : 3 10;
    font-weight: bold;
}

TH.special {
    background-color : #158df3;
    border: solid 1px;
    border-color :  #88aaff #88aaff black black;
    font-size : 12;
    font-family : Verdana,Arial;
    color : white;
    padding : 3 10;
}

.mtdMontant {
    font-family : Verdana,Arial;
    border-right: solid 1px silver;
    padding : 3 10;
    width : 100;
	text-align: right;
}

.somme{
    font-size : x-small;
    font-family : Verdana, Arial;
    color : white;
    background-color : #226194;
    /*font-weight : bold;*/
}