@CHARSET "ISO-8859-1";
/* ************* bloc 1 , infos generales ***************** */

*{
	margin:0;padding:0;	
}

.lienTiers{
	cursor:pointer;
}

a img{
	border:none;
}


/* labels génériques */
.label{
	width:120px;
	height:22px;
	padding-top:2px;
	display:inline-block;
	text-align:left;
	float:left;
	font-weight:bold;
}

.annexeCopie {
	float:left;
	display:inline-block;
	padding-right:20px;
}
.labelAnnexeCopie {
	font-weight:bold;
}

/* ***** agencement ***** */
#mainContainer {
	height:100%;
}

#leftPane {
	float:left;
	height:100%;
	background-color:#226194;
	color:white;
	width:200px;
	border:1px solid black;
}

#centralPane {
	float:left;
	margin-left:20px;
}

#leftPane li {
	list-style:none;
	border-bottom: 1px solid black;
	padding: 5px;
	font-weight: bold;
}

#leftPane li.hover,li.selectedhover {
	color:black;
	background-color:#D7E4FF;
	cursor: pointer;
}

/* ****ligne requerant**** */
#ligneRequerant{
	border-bottom:2px solid #226194;
	margin-bottom:10px;
	padding-bottom:10px;
	height:22px;
	padding-bottom:5px;
	
}
/* ****ligne beneficiare**** */
#ligneBeneficiaire{
	/*border:1px solid red;*/
	height:22px;
	padding-bottom:5px;
	
}

/* label valeur requerant */
#valRequerant{
	font-weight:normal;
	float:left;
	width:550px;
	text-align:left;
	font-style:italic;
}

#ligneGestionnaire{
	border-bottom:2px solid #226194;
	margin-bottom:10px;
	padding-bottom:10px;
	width:100%;
	height:22px;
}

#ligneTextLibre{
	border-bottom:2px solid #226194;
	margin-bottom:10px;
	padding-bottom:10px;
	width:100%;
}

#ligneGestionnaire select{
	float:left;
	margin-top:5px;
	width:240px;
}
#ligneGestionnaire span{
	font-weight:bold;
}

#lblEmail{
	margin-left:120px;
}

#ligneInfoCaisse {
	margin-top:10px;
	width: 600px;
}

#ligneTextLibre textarea{
    width:100%;
}