select {
    width: 291px;
    height: 23px;
}

input {
    height: 23px;
}

label {
    padding-left: 7px;
}

.corps {
    background-color: #B3C4DB;
}

#likeNss, #byCaisse{
    width: 291px;
}

.btnCtrl {
    width:auto !important;
    height:auto !important;
}