<configuration>

	<!-- Définition du dossier contenant les fichiers de logs -->
	<property name="logFolderPath" value="D:/workspaces/avs/trunk/"/>

	<!--  Configuration du nombre de jours pour l'historisation des fichiers de logs -->
	<property name="fileHistory" value="10"/>

	<!-- Configuration du logger responsable de récupérer les sortie console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" additivity="false">
        <encoder>
            <pattern><![CDATA[%d{dd.MM.yyyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n]]></pattern>
        </encoder>
    </appender>

	<!-- Configuration du logger -->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${logFolderPath}webavs.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; daily rollover &ndash;&gt;-->
<!--            <fileNamePattern>webavs.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <maxHistory>${fileHistory}</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern><![CDATA[%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n]]></pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!--  Configuration des niveaux de log : TRACE, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
    <!-- Configuration du niveau de log pour toutes les API/Produits Globaz -->
    <logger name="ch.globaz" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.common" level="OFF" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.service.castor" level="OFF" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.service.provider" level="OFF" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.smtp" level="OFF" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.JadeFsFacade" level="OFF" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.publish.server.JadePublishExecutionThread" level="OFF" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.context.JadeThreadActivator" level="OFF" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework.beans.TypeConverterDelegate" level="OFF" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.apg.process.APGenererStatsOFASProcess" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.service.provider.socket.JadeExportServer" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.sedex.SedexReceptionPass" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.sedex.SedexReceptionPass" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.globall.db.BApplication" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.service.provider.local.JadeExportClient" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.service.provider.JadeExportClient" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.persistence.mapping" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.globall.db.BEntity" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.ged.adapter.airs" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.persistence.util.JadePersistenceUtil" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.persistence.util.JadePersistenceUtil" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
<!--AFFICHAGE DES REQUETES SQL - Commenter pour debug-->
    <logger name="globaz.jade.jdbc.JadeJdbcStatement" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.jdbc.JadeJdbcStatement" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.jdbc.JadeJdbcStatement" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.persistence.JadePersistenceManager" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.persistence.JadePersistenceManager" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.persistence.JadePersistenceManager" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
<!--  End of affichage des requetes  -->
    <logger name="globaz.jade.publish.server.JadePublishServer" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.publish.server.JadePublishServer" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.ged.message.JadeGedDocument" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.ged.message.JadeGedDocument" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.daemon.daemons.JadeDaemonRunDaily" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.ged.target.JadeGedAdapterTarget" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.ged.target.JadeGedAdapterTarget" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.publish.provider.pdfimage.JadePublishResourceImpl" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.publish.provider.pdfproperty.JadePublishResourceImpl" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.publish.provider.pdftext.JadePublishResourceImpl" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.properties.JadePropertiesService" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.properties.JadePropertiesService" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.common.JadeSystemSnapshotThread" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.common.JadeSystemSnapshotThread" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="ch.globaz.vulpecula.ws.handlers.MyProdisHandler" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="ch.globaz.vulpecula.ws.handlers.MyProdisHandler" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.persistence.mapping.JadeModelMappingProvider" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.service.jsch.JadeFsService" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.service.jsch.JadeFsService" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.service.jsch.JadeFsService" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.service.ftp4.JadeFsService" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.service.ftp4.JadeFsService" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.service.ftp4.JadeFsService" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.service.jdbc.JadeFsService" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.service.jdbc.JadeFsService" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.jade.fs.service.jdbc.JadeFsService" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.framework.security.FWSecurityLoginManager" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="globaz.framework.security.FWSecurityLoginManager" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <!-- TODO Revoir la classe / la gestion de l'exception -->
    <logger name="globaz.globall.db.BSystemInfo" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <!-- TODO Revoir la classe / la gestion de l'exception -->
    <logger name="globaz.framework.printing.itext.FWIDocumentManager" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Configuration du niveau de log pour toutes les API/Produits externes (root logger)-->        
    <root level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
