BODY{
    font-family : Verdana,sans-serif;
    font-weight : normal;
    font-size : 11px;
    margin-top : 0px;
    margin-left : 5px;
    margin-right : 0px;
    margin-bottom : 5px;
    border-width : 0px 0px 0px 0px;
}

INPUT{
    font-size : x-small;
    font-family : Verdana,Arial;
    font-weight : bold;
}

SELECT{
    font-size : x-small;
    font-family : Verdana,Arial;
    font-weight : bold;
    width : 7cm;
}

TABLE{
    font-family : Verdana,Arial;
    font-size : 11px;
}

TABLE.detail {
    background-color:#B3C4DB;
    width: 100%;
    border: 0;
}

TABLE.find {
    background-color:#B3C4DB;
    width: 100%;
    border: 0;
}

TABLE.list {
    width: 100%;
    border: 0;
}

TEXTAREA{
    font-size : x-small;
    font-family : Verdana,Arial;
    font-weight : bold;
}

TH {
    background-color : #226194;;
     border: solid 1px;
    border-color :  #88aaff #88aaff black black;
    font-size : 12;
    font-family : Verdana,Arial;
    color : white;
    padding : 3 10;
}
.date{
    width : 2.5cm;
}

.dateDisabled{
    font-weight : bold;
    width : 2.5cm;
    background-color : #b3c4db;
    font-family : Verdana,Arial;
}

.frame{
    font-size : 11px;
    font-family : Verdana, Arial;
    color : black;
    background-color : #b3c4db;
    font-weight : normal;
}

.gText{
    font-family : Verdana,Arial;
    font-size : x-small;
    font-weight : bold;
}

.inputDisabled{
    font-size : x-small;
    font-family : Verdana,Arial;
    font-weight : bold;
    background-color : #b3c4db;
    width : 100%;
}

.libelleDisabled{
    font-family : Verdana,Arial;
    background-color : #b3c4db;
    width : 2cm;
    
}

.libelleLong{
    width : 7cm;
}

.libelleLongDisabled{
    font-family : Verdana,Arial;
    background-color : #b3c4db;
    width : 7cm;
    font-weight : bold;
}

.list{
    font-size : 11px;
    font-family : Verdana,Arial;
}

.montant{
    width : 4cm;
}

.montantDisabled{
    width : 4cm;
    font-family : Verdana,Arial;
    font-weight : bold;
    background-color : #b3c4db;
}
.mtd {
    font-family : Verdana,Arial;
    border-right: solid 1px;
    border-color : silver;
    padding : 3 10;
}

.numero{
    width : 2.5cm;
}

.numeroCourt{
    width : 1.5cm;
}

.numeroCourtDisabled{
    font-family : Verdana,Arial;
    font-weight : bold;
    background-color : #b3c4db;
    width : 1.5cm;
}

.numeroDisabled{
    font-family : Verdana,Arial;
    font-weight : bold;
    background-color : #b3c4db;
}

.numeroId{
    width : 4cm;
}

.numeroIdDisabled{
    font-family : Verdana,Arial;
    font-weight : bold;
    background-color : #b3c4db;
    width : 4cm;
}

.prop{
    font-family : "Courier New";
    font-weight : normal;
    font-size : x-small;
}

.row{
    font-size : x-small;
    font-family : Verdana,Arial;
    background : #ffffff;
    cursor : hand;

}

.rowHighligthed{
    font-size : x-small;
    font-family : Verdana,Arial;
    background : #638fbc;
    color : #ffffe8;
}

.rowOdd{
    font-size : x-small;
    font-family : Verdana, Arial;
    background : #E8EEF4;
    cursor : hand;

}

.taux{
    width : 2cm;
}

.tauxDisabled{
    font-family : Verdana,Arial;
    font-weight : bold;
    color : #b3c4db;
    width : 2cm;
}

.text{
    font-size : 11px;
    font-family : Verdana,Arial;
    font-weight : normal;
}

.title{
    font-size : x-small;
    font-family : "Lucida Sans Unicode",Verdana,Arial;
    color : white;
    background-color : #226194;
    font-weight : bold;
}

.verda9gras {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bold;
}

.verda11 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

