select {
    width: 250px;
}

input{
    width: 250px !important;
    height: 25px;
}

tr{
    padding-bottom: 5px;
}

.libelletitre {
    font-weight: bold;
}

.libelle {
    padding-left: 10px;
}

.separateur {
    border-top: 1px solid black;
    height: 15px;
    margin-right: 20px;
}

.buttons {
    float:right;
    margin-top: 20px;
    padding-right: 20px;
}

.listfichiers {
    width: 600px;
    background-color:#FFF;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid black;
}

.buttons input{
    width:100px !important;
}

#codeCaisse{
    width: 586px !important;
}

.ui-widget INPUT {
    font-size: x-small !important;
}