input {
    width: 291px;
    height: 23px;
}

.corps {
    background-color: #B3C4DB;
}

#nssAffilier{
    width: 291px;
}

#codeCaisse{
    width: 586px;
}

.libelle {
    padding-left: 10px;
}

.btnCtrl {
    width:auto !important;
    height:auto !important;
}