.titre {
	margin: 0px 0px 10px 0px; 
 	background-color: #FEFCFF;
    border: 1px solid #9E9EC9;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  	border-radius: 5px;
  	box-shadow 
  	-webkit-box-shadow: rgba(49, 85, 244, 0.2) 0px 1px 3px;
    -moz-box-shadow:rgba(49, 85, 244, 0.2) 0px 1px 3px;
    box-shadow:rgba(49, 85, 244, 0.2) 0px 1px 3px;
}

#processRunning{
	
	width:100%;
	background-color:#FEFCFF;
	text-align:center;
	padding-bottom:10px;
}

/**
  ecrasement pour l'affichage du gif animé
*/
#loadImg{
	max-width:none !important;
}
input.jadeAutocompleteAjax, .widget{
	border-left: 6px solid #356AA0; 
	border-bottom : solid 1px #356AA0;
	border-right : solid 1px #356AA0;
	border-top : solid 1px #356AA0;
	width : 210px;
}

#zone_bouton_launch{
	text-align:center;
	width:100%;
}
#processRunning label{
	font-weight:bold;
	text-align:center;
}
h1 {
	margin:0px;
	padding:0px;
	
	font-size: 1.2em;
}

input[type=text]{
	height:14px !important;
}

.topLine{
	padding-top:5px;
}
.areaAssure{
	height:5em;
	position: relative;
	padding: 5px 3px;
	width: inherit !important;
	border: 1px solid #9E9EC9;
}
.labelRequerant,#infoDroit span{
	font-weight: bold;
}
#infoDroit span{
    display: inline-block;
 	width:9em;
}

#infoDroit{
	display: inline;
	position: absolute;
    right: 0;
    top: 4px;
}

.chkBeneficiaireTh{
	width:10%;
	text-align:center;
}

.chkBeneficiaire{
	text-align:center;
}



