
.relLink, .reLinkQuickInfo {
	float: right;
}

.subtitle, .subtitleQuickInfo {
	font-weight: bold;
	float: left;
	margin: 0px 0px 10px 0px;
}

.infosContribuable, .infoMembreFamille, .dataQuickInfo, .data {
	
}

.infosContribuable table, .infoMembreFamille table, .infosCaisseMaladie table {
	width:100%;
	border: 1px solid #B3C4DB;
	border-collapse:collapse;
	background-color:#F1F9FF;	
}

.imgLink {
	cursor: pointer;
	border: 0;
	vertical-align: middle;
}

.imgLinkDisabled {
	cursor: default;
	border: 0;
	vertical-align: middle;	
}

.imgUnknown {
	text-align: right;
	background-color: #FFFFFF;
	width: 22px;
	height: 22px;
	cursor: help;
	border: 0;	
}

.conteneurContrib, .conteneurCaisseMaladie {
	border: 1px solid black; 
	width: 400px;
	height: 170px;
	background-color: #D7E4FF;
	padding: 5px;
}

.conteneurWarningRevenuHistorique {
	border: 1px solid black; 
	width: 400px;
	height: 50px;
	background-color: #D7E4FF;
	padding: 5px;
	margin-top: 81px;
}

.conteneurGroupeCaisseMaladie {
	border: 1px solid black; 
	width: 400px;
	background-color: #D7E4FF;
	padding: 5px;
}

.conteneurWarning {
	border: 1px solid black; 
	width: 100%;
	background-color: #D7E4FF;
	padding: 5px;
}

.conteneurQuickInfo {
	font-size:11px;
	border: 1px solid black; 
	width: 580px;
	height: 170px;
	background-color: #D7E4FF;
	padding: 5px;
}
.conteneurQuickInfo table{
	font-size:11px;
}
.conteneurQuickInfoRevenu {
	font-size:11px;
	border: 1px solid black; 
	width: 640px;
	height: 170px;
	background-color: #D7E4FF;
	padding: 5px;
}
.conteneurQuickInfoRevenu table{
	font-size:11px;
}

.conteneurQuickInfoSubsides {
	border: 1px solid black; 
	width: 640px;
	height: 170px;
	background-color: #D7E4FF;
	padding: 5px;
}
.conteneurQuickInfoSubsides table{
	font-size:11px;
}

.tdSubsides th, .tdSubsidesMember th{
    font-size : 11px;
	font-family : Verdana, Arial;
    font-style : italic;
    font-weight : bold;
    background : #226194;
    color: #ffffff;
    border:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.tdSubsides {
	width:100%;
	/*border: 1px solid #B3C4DB;*/ 
	border-collapse:collapse;
	/*background-color:#F1F9FF;*/ 
}

.infoSubsides {
	min-height:60px;
	height:252px;
	overflow:auto;
	clear: both;
}

.conteneurDetailRevenu {
	border: 1px solid black; 
	width: 100%;
	background-color: #FFFFFF;
	padding:10px;
}

div.data input{
	background-color : grey;
}

#conteneurComplexAnnonceSedex table, #conteneurComplexAnnonceSedex col, #conteneurComplexAnnonceSedex th{
	border-collapse:collapse;
    font-size: 12px;
    border:2px solid #226194;
}

#conteneurRevenus table, #conteneurRevenus col, #conteneurRevenus th{
	border-collapse:collapse;
    font-size: 12px;
    border:2px solid #226194;
}
#conteneurTaxations table, #conteneurTaxations col, #conteneurTaxations th{
	border-collapse:collapse;
    font-size: 12px;
    border:2px solid #226194;
}
#conteneurCalculs table, #conteneurCalculs col, #conteneurCalculs th{
	border-collapse:collapse;
    font-size: 12px;
    border:2px solid #226194;
}
#conteneurComplexAnnonceSedex td, #conteneurRevenus td, #conteneurTaxations col, #conteneurCalculs td {
	padding-left: 5px;
	padding-right:5px;	
}

#conteneurFamille table, #conteneurFamille col, #conteneurFamille th{
	border-collapse:collapse;
    font-size: 12px;
    border:2px solid #226194;
}
#zoneDeclarationImpots tr{
	height:14px;
	}

.amalRow{
    font-family : Verdana,Arial;
    background : #ffffff;
    font-size : x-small;
    height:18px;
}

.amalRowHighligthed{
    font-family : Verdana,Arial;
    background : #638fbc;
    color : #ffffe8;
    font-size : x-small;
    height:18px;
}

.amalRowSelected{
    font-family : Verdana,Arial;
    background : #ffff00;
    color : #000000;
    font-size : x-small;
    height:18px;
}

.amalRowOdd{
    font-family : Verdana, Arial;
    background : #E8EEF4;
    font-size : x-small;
    height:18px;
}

.amalActionCell{
	text-decoration:underline;
	cursor:hand;
}

.amalRowContrib{
    font-size : 12px;
	font-family : Verdana,Arial;
    background : #F1F9F9;
}

.amalRowHighligthedContrib{
    font-size : 12px;
	font-family : Verdana,Arial;
    background : #638fbc;
    color : #ffffff;
}

.amalRowOddContrib{
    font-size : 12px;
	font-family : Verdana, Arial;
    background : #F9FFFF;
    border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

#zoneTiers, #zoneTiersAdresse {
	width:100%;
	border:1px solid black;
	background-color:#D7E4FF;
}



/* Styles page de gestion des assureurs 
----------------------------------------------------------------------------------------------------*/
#conteneurAnnonces table, #conteneurAnnonces col, #conteneurAnnonces th, #conteneurPrimes table, #conteneurPrimes col, #conteneurPrimes th{
	border-collapse:collapse;
    font-size: 12px;
    /*border:2px solid #226194;*/
}

#conteneurAnnonces td, #conteneurPrimes td{
	/*padding-left: 5px;
	padding-right:5px;*/	
}
/* Fin styles page de gestion des assureurs 
----------------------------------------------------------------------------------------------------*/

* jQuery UI Tabs 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
 
 /* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat;  }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ui-tabs { position: relative; padding: 0em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0em 0em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #226194; background: #d7e4ff url(images/ui-bg_glass_0_d7e4ff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #000000; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #000000; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #ffffff; background: #226194 url(images/ui-bg_glass_0_226194_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #ffffff; background: #226194 url(images/ui-bg_glass_0_226194_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 0.8em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #b3c4db; background: #f2f5f7 url(images/ui-bg_highlight-hard_0_f2f5f7_1x100.png) 50% top repeat-x; color: #362b36; }
.ui-widget-content a { color: #362b36; }
.ui-widget-header { border: 1px solid #b3c4db; background: #b3c4db url(images/ui-bg_highlight-soft_0_b3c4db_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px; }
.ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }
.ui-corner-top { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }
.ui-corner-right {  -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }
.ui-corner-left { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.ui-corner-all { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }

/* Overlays */
.ui-widget-overlay { background: #eeeeee url(images/ui-bg_diagonals-thick_90_eeeeee_40x40.png) 50% 50% repeat; opacity: .80;filter:Alpha(Opacity=80); }
.ui-widget-shadow { margin: -7px 0 0 -7px; padding: 7px; background: #000000 url(images/ui-bg_highlight-hard_70_000000_1x100.png) 50% top repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/*

/* Styles spécifiques aux tooltips */
.infobulle {
	cursor: help; 
	text-decoration: none;	
	border-bottom: 1px dotted #000000;	
	color: #000000; 
	outline: none;
}

div.infobulle {
	position:relative;
	color:red;
}

.infobulle:hover {
	position:relative;
	color:red;
}
.infobulle span {
	margin-left: -999em;
	position: absolute;
}

.infobulle:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 2em;
  bottom: 2em;
  z-index: 99;
  margin-left: 0;
  width: 450px;
}
.infobulle:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;  
}
.infobulle:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic { background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

.onglets ul {
	margin:0 0 5 10;
	padding: 0 5 0 0;
}

.onglets li {
	border: #226194 1px solid; 
	border-bottom: black 1px solid; 
	background-color: #D7E4FF ;
	color:#d5dfed;
	DISPLAY: inline; 
	margin-RIGHT: 3px; 
	padding:5px 5px;
}
.onglets li a {
	TEXT-DECORATION: none;
	color:#000000;
}
.onglets li a:visited {
	color:#000000;
}
.onglets li a:hover {
	color:white;
}
.onglets li.selected {
	border-top: black 1px solid; 
	border-right: black 1px solid; 
	border-left: black 1px solid; 
	border-bottom: #ffeccc 1px solid; ; 
	background-color: #ffeccc; 
	color:black;
	padding-bottom:4px;
}
.onglets {
	margin: 0px;
	padding-bottom:3px;
}

.subsideDisabled {
	font-style:italic;
	color: red;
}