html, body {
    background-color: #E3E9ED;
    height: 100%;
}
body {
    color: #444444;
    font-family: "PT Sans",Helvetica,Arial,Sans-Serif;
    font-size: 10pt;
}
div.report a {
    color: #4183C4;
}
pre, code {
    font-family: "Inconsolata";
    font-size: 10pt;
}
.topbar h3 {
    color: #FFFFFF;
    font-family: "Droid Sans",Helvetica,Arial,Sans-Serif;
    font-size: 120%;
}
h1, h2, h3, h4 {
    font-family: "Droid Sans",Helvetica,Arial,Sans-Serif;
}
span.logo {
    font-family: "Droid Sans",Helvetica,Arial,Sans-Serif !important;
}
.options {
    margin-top: 20px;
}
.options h3 {
    margin-bottom: 10px;
}
.options li {
    margin-bottom: 5px;
}
.more-options {
    display: block;
    padding-top: 10px;
}
.editor {
    padding: 60px 0 0;
}
.editorArea > .buttons {
    text-align: right;
}
.editorArea > .alert-message {
    margin-bottom: 0;
    padding: 5px 14px 6px;
}
.editorArea > .error a {
    border-bottom: 1px dashed #FFFFFF;
    color: #FFFFFF;
}
.editorArea > .error a:hover {
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
}
.editorArea .CodeMirror {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    margin: 10px 0;
}
.editorArea .CodeMirror-scroll {
    height: 600px;
}
div.report {
    margin-top: 20px;
    word-wrap: break-word;
}
div.report div.alert-message div.rows {
    margin: 0;
}
div.report div.span10 {
    width: 75%;
}
div.report div.span5 {
    text-align: right;
    width: 20%;
}
div.report div.options {
    margin: 15px 0;
}
div.report ul.jshint-errors {
    list-style-type: none;
    margin: 15px;
}
div.report ul.jshint-errors li {
    margin-bottom: 15px;
}
div.footer {
    margin: 0 auto;
    padding: 50px 0 25px;
    text-align: center;
}
div.report{
 background-color: #FDDFDE;
}
